{% load static %}
<section class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'img/contacto.jpg' %}" alt="Contáctanos" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h2>Contáctanos</h2>
            <p>¿Tienes alguna pregunta o sugerencia? ¡Contáctanos! Estamos aquí para ayudarte y brindarte la mejor atención.</p>
            <p><strong>Teléfono:</strong> 123-456-7890</p>
            <p><strong>Correo Electrónico:</strong>
                <a href="mailto:polaco026@hotmail.com">Enviar correo</a></p>
            <p><strong>Horario de Atención:</strong> Viernes a Domingos de 19:30 a 23:30 hrs.</p>
        </div>
    </div>
</section>