<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Pola's Burgers</h5>
                <p>Las mejores hamburguesas de la ciudad. ¡Visítanos!</p>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Dirección: Calle Falsa 123, Ciudad</p>
                <p>Teléfono: +1 123 456 7890</p>
                <p>Email: info@polasburgers.com</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Útiles</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white">Inicio</a></li>
                    <li><a href="{% url 'listar_productos' %}" class="text-white">Menú</a></li>
                    <li><a href="{% url 'login' %}" class="text-white">Iniciar Sesión</a></li>
                    <li><a href="{% url 'register' %}" class="text-white">Registrarse</a></li>
                </ul>
            </div>
        </div>
        <hr class="mt-4 mb-3">
        <p class="text-center">&copy; 2025 Pola's Burgers. Todos los derechos reservados.</p>
    </div>
</footer>