{% load static %}
<section class="container my-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{% static 'img/historia.jpg' %}" alt="Nuestra Historia" class="img-fluid rounded-circle mb-3">
            <h2>Nuestra Historia</h2>
            <p>Desde 2025, nos dedicamos a crear hamburguesas con pasión y los mejores ingredientes.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{% static 'img/ingredientes.jpg' %}" alt="Nuestros Ingredientes" class="img-fluid rounded-circle mb-3">
            <h2>Nuestros Ingredientes</h2>
            <p>Seleccionamos cuidadosamente cada ingrediente para garantizar el sabor y la calidad de nuestras hamburguesas.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{% static 'img/pedido.jpg' %}" alt="Realiza tu Pedido" class="img-fluid rounded-circle mb-3">
            <h2>Realiza tu Pedido</h2>
            <p>Explora nuestro menú y realiza tu pedido en línea. ¡Te esperamos con el mejor sabor!</p>
        </div>
    </div>
</section>