{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Pola's Burgers{% endblock %}

{% block content %}
    <div class="content-wrap-home">
        <div class="sidebar">
            {% include 'sidebar.html' %}
        </div>
        <div class="main-content-home">
            {% include 'header.html' %}
            {% include 'historia_section.html' %}
            {% include 'especialidades_section.html' %}
            {% include 'porque_section.html' %}
            {% include 'pedido_ahora_section.html' %}
            {% include 'contacto_section.html' %}
        </div>
    </div>
{% endblock %}